<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table record-table full-record-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          {% if use_hours %}
            <th>QHA</th>
          {% else %}
            <th>Experience</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if not records %}
          <tr>
            <td id="no-records" colspan="3">No records exist</td>
          <tr>
        {% else %}
          {% for r in records %}
            <tr>
              {% with p="/player/"|add:r.0 %}
                <td>{{ forloop.counter|add:start }}</td>
                <td>
                  <a href="{{ p }}/{{ period }}">{{ r.1 }}</a>
                </td>
                <td>
                  <a href="{{ p }}/period/{{ r.3 }}-{{ r.4 }}">{{ r.2 }}</a>
                </td>
              {% endwith %}
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  {% if not records or start == 0 %}
    <a class="col-md-3 btn btn-primary disabled" href="#">Previous Page</a>
  {% else %}
    <a class="col-md-3 btn btn-primary" href="{{ page|add:-1 }}">Previous Page</a>
  {% endif %}
  <div class="col-md-2"></div>
  {% if not records or records|length < 25 %}
    <a class="col-md-3 btn btn-primary disabled" href="#">Next Page</a>
  {% else %}
    <a class="col-md-3 btn btn-primary" href="{{ page|add:1 }}">Next Page</a>
  {% endif %}
  <div class="col-md-2"></div>
</div>
