<table class="table record-table full-record-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Experience</th>
    </tr>
  </thead>
  <tbody>
    {% if not records %}
      <tr>
        <td id="no-records" colspan="3">No records exist</td>
      <tr>
    {% else %}
      {% for r in records %}
        <tr>
          {% with p="/player/"|add:r.0 %}
            <td>{{ forloop.counter|add:start }}</td>
            <td>
              <a href="{{ p }}/{{ period }}">{{ r.1 }}</a>
            </td>
            <td>
              <a href="{{ p }}/period/{{ r.3 }}-{{ r.4 }}">{{ r.2 }}</a>
            </td>
          {% endwith %}
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
