<h4>{{ skillname }} records</h4>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table class="table table-sm" id="player-record-table">
      <tbody>
        <tr>
          <td>Day</td>
          <td>
            {% if records.0.0 %}
              <a href="{{ records.0.1 }}">{{ records.0.0 }} {{ suffix }}</a>
            {% else %}
              0 {{ suffix }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Week</td>
          <td>
            {% if records.1.0 %}
              <a href="{{ records.1.1 }}">{{ records.1.0 }} {{ suffix }}</a>
            {% else %}
              0 {{ suffix }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Month</td>
          <td>
            {% if records.2.0 %}
              <a href="{{ records.2.1 }}">{{ records.2.0 }} {{ suffix }}</a>
            {% else %}
              0 {{ suffix }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Year</td>
          <td>
            {% if records.3.0 %}
              <a href="{{ records.3.1 }}">{{ records.3.0 }} {{ suffix }}</a>
            {% else %}
              0 {{ suffix }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
