{% load static %}

<table class="table player-skills-table">
  <thead>
    <tr>
      <th>Skill</th>
      <th>ΔExperience</th>
      <th>ΔRank</th>
      <th>QHA</th>
    </tr>
  </thead>
  <tbody>
    {% if table_data|length > 0 %}
      {% for d in table_data %}
        {% with i=forloop.counter0|stringformat:"s" %}
          <tr class="player-table-row" id="{{ "player-table-row-"|add:i}}">
            {# Skill image with name in tooltip #}
            <td class="player-table-skill" id={{ "player-table-skill-"|add:i }}
                data-toggle="tooltip" data-container="body" title="{{ d.skillname }}">
              {% with imgpath="img/skills/skill"|add:i|add:".png" %}
              <img src="{% static imgpath %}"</img>
              {% endwith %}
            </td>

            {# Experience gain with current total exp in tooltip #}
            {% if d.de.0 == '+' %}
              <td class="player-table-positive player-table-experience"
                  data-toggle="tooltip" data-container="body"
                  title="Experience in {{ d.skillname }}: {{ d.exp }}">
                {{ d.de }}
              </td>
            {% else %}
              <td class="player-table-neutral player-table-experience"
                  data-toggle="tooltip" data-container="body"
                  title="Experience in {{ d.skillname }}: {{ d.exp }}">
                {{ d.de }}
              </td>
            {% endif %}

            {# Change in rank with current rank in tooltip #}
            {% if d.dr.0 == '+' %}
              <td class="player-table-positive player-table-rank"
                  data-toggle="tooltip" data-container="body"
                  title="Rank in {{ d.skillname }}: {{ d.rank }}">
                {{ d.dr }}
              </td>
            {% elif d.dr.0 == '-' %}
              <td class="player-table-negative player-table-rank"
                  data-toggle="tooltip" data-container="body"
                  title="Rank in {{ d.skillname }}: {{ d.rank }}">
                {{ d.dr }}
              </td>
            {% else %}
              <td class="player-table-neutral player-table-rank"
                  data-toggle="tooltip" data-container="body"
                  title="Rank in {{ d.skillname }}: {{ d.rank }}">
                {{ d.dr }}
              </td>
            {% endif %}

            {% if d.dh.0 == '+' %}
              <td class="player-table-positive player-table-hours"
                  data-toggle="tooltip" data-container="body"
                  title="QHA in {{ d.skillname }}: {{ d.hours }}">
                {{ d.dh }}
              </td>
            {% elif d.dh.0 == '-' %}
              <td class="player-table-negative player-table-hours"
                  data-toggle="tooltip" data-container="body"
                  title="QHA in {{ d.skillname }}: {{ d.hours }}">
                {{ d.dh }}
              </td>
            {% else %}
              <td class="player-table-neutral player-table-hours"
                  data-toggle="tooltip" data-container="body"
                  title="QHA in {{ d.skillname }}: {{ d.hours }}">
                {{ d.dh }}
              </td>
            {% endif %}
          </tr>
        {% endwith %}
      {% endfor %}
    {% else %}
    {# table_data length == 0 #}
      {% for s in table_skills %}
        <tr>
          <td class="player-table-skill" data-toggle="tooltip"
              data-container="body" title="{{ s.skillname }}">
            {% with i=forloop.counter0|stringformat:"s" %}
            {% with imgpath="img/skills/skill"|add:i|add:".png" %}
            <img src="{% static imgpath %}"></img>
            {% endwith %}
            {% endwith %}
          </td>
          <td>0</td>
          <td>0</td>
          <td>0.00</td>
        </tr>
      {% endfor %}
    {% endif %}

  {# QHA Row #}
  <tr class="player-table-row" id="player-table-row-99">
    <td class="player-table-skill" id="player-table-skill-99"
        data-toggle="tooltip" data-container="body" title="QHA">
      <img src="{% static "img/skills/skill99.png" %}"</img>
    </td>
    <td>-</td>
    <td>0</td>
    {% if delta_hours.0 == '+' %}
      <td class="player-table-positive player-table-hours"
          data-toggle="tooltip" data-container="body" title="">
        {{ delta_hours }}
      </td>
    {% elif delta_hours.0 == '-' %}
      <td class="player-table-negative player-table-hours"
          data-toggle="tooltip" data-container="body" title="">
        {{ delta_hours }}
      </td>
    {% else %}
      <td class="player-table-neutral player-table-hours"
          data-toggle="tooltip" data-container="body" title="">
        {{ delta_hours }}
      </td>
    {% endif %}
  </tr>
  </tbody>
</table>
