{% load static %}

<table class="table player-skills-table">
  <thead>
    <tr>
      <th>Skill</th>
      <th>ΔExperience</th>
      <th>ΔRank</th>
      <th>QHA</th>
    </tr>
  </thead>
  <tbody>
    {% for d in table_data %}
      <tr>
        {# Skill image with name in tooltip #}
        <td class="player-table-skill" data-toggle="tooltip"
            data-container="body" title="{{ d.4 }}">
          {% with i=forloop.counter0|stringformat:"s" %}
          {% with imgpath="img/skills/skill"|add:i|add:".png" %}
          <img src="{% static imgpath %}"</img>
          {% endwith %}
          {% endwith %}
        </td>

        {# Experience gain with current total exp in tooltip #}
        {% if d.0.0 == '+' %}
          <td class="player-table-positive player-table-experience"
              data-toggle="tooltip" data-container="body" title="{{ d.2 }}">
            {{ d.0 }}
          </td>
        {% else %}
          <td class="player-table-neutral player-table-experience"
              data-toggle="tooltip" data-container="body" title="{{ d.2 }}">
            {{ d.0 }}
          </td>
        {% endif %}

        {# Change in rank with current rank in tooltip #}
        {% if d.1.0 == '+' %}
          <td class="player-table-positive player-table-rank"
              data-toggle="tooltip" data-container="body" title="{{ d.3 }}">
            {{ d.1 }}
          </td>
        {% elif d.1.0 == '-' %}
          <td class="player-table-negative player-table-rank"
              data-toggle="tooltip" data-container="body" title="{{ d.3 }}">
            {{ d.1 }}
          </td>
        {% else %}
          <td class="player-table-neutral player-table-rank"
              data-toggle="tooltip" data-container="body" title="{{ d.3 }}">
            {{ d.1 }}
          </td>
        {% endif %}

        <td>0.00</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
